<div class="row">
    <div class="col s12 m2"></div>
    <div class="col s12 m8">
      <h2 class="header center">Туры в кредит и рассрочку!</h2>
      <div class="row">
      <div class="col s12 m4 right-align">
        <i class="small material-icons grey-text text-lighten-1">attach_money</i>
      </div>      
      <div class="col s12 m4 center-align">
        <i class="small material-icons grey-text ">insert_emoticon</i>
      </div>      
      <div class="col s12 m4 left-align">
        <i class="small material-icons grey-text text-lighten-1">attach_money</i>
      </div>      
    </div>
    <div class="row">
        <div class="col s12 m6 z-depth-2 hoverable">
            <h5 class="header left orange-text">Что такое туры в рассрочку?</h5>
          <p class="grey-text text-darken-3 lighten-3 left-align ">
            <br><br>
            Собрались на отдых и даже выбрали желанный тур, а для бронирования не хватает денег? Турагент требует 100% предоплату? Решение есть! Наша компания специализируется на предоставлении рассрочки оплаты за туры по всему миру.
            <br><br>Суть отдыха в рассрочку заключается в том, что вы можете забронировать у нас тур в любой момент и оплачивать его постепенно частями на протяжении нескольких месяцев, по установленному графику.
            <br><br><strong>Рассрочку без предоплаты</strong> мы так же можем предоставить на некоторые туры, в том числе и на горящие. Подумайте, как удобно, улететь на отдых уже завтра, а начать оплачивать тур только через месяц.
            <br>У нас можно приобрести практически<strong> любой предлагаемый белорусскими турфирмами тур в рассрочку!</strong>
Все, что Вам нужно, это связаться с нами, сообщить куда и когда хотели бы отправиться на отдых, получить необходимую информацию и оформить Ваш отдых в офисе нашей компании.
          </p>
          </div>  
          
          <div class="col s12 m6 z-depth-2 hoverable">
            <h5 class="header left orange-text">Что такое покупка тура в кредит?</h5>
          <p class="grey-text text-darken-3 lighten-3 left-align ">
            <br><br>
            Туристическая компания ТудаСюда рада предложить своим клиентам <strong>туры в кредит</strong> на выгодных условиях! Данная услуга подойдет для всех туристов, которые хотят купить тур на отдых, но не успели собрать необходимую сумму денег.
            <br><br>В кредит можно оформить практически любой тур на отдых с вылетом из Минска, Москвы, Киева, Гомеля, Бреста или других городов вылета в любую страну мира!
            <br><br>Тур на отдых Вы можете подобрать себе самостоятельно в системах подбора туроператоров, либо приехать к нам в офис, где наши специалисты вместе с Вами подберут подходящие именно Вам варианты отдыха, расскажут об особенностях страны, дадут советы по выбору отеля и оформят все необходимые документы.
            <br><br>Наиболее популярными направлениями, туры на которые приобретают наши туристы, являются Турция, Болгария, Египет, Черногория, Греция, Кипр, Таиланд, Шри-Ланка, Вьетнам, Гоа, Куба, Доминикана и другие...
          </p>
          </div> 
      </div>
      
      
        <div class="col s4">
            
          </div>
</div>
      <div class="col s12 m2"></div>
    </div>
    <div class="row">
        <div class="col s12 m2"></div>
          <div class="col s12 m8">
            <div >   
              <h4 class="center"> Как оплачивать тур в рассрочку</h4>
              <blockquote class="grey-text text-darken-3 lighten-3 ">
                Вы уже выбрали тур, хотите его забронировать и производить оплату в рассрочку. Как же это выглядит? У нас <strong>гибкие условия рассрочки</strong> и мы готовы обсуждать подходящий график оплат в индивидуальном порядке с учетом Ваших пожеланий и наших возможностей. Приведем несколько примеров наиболее частых вариантов оплаты тура в рассрочку.
                
                <br> <br><span class="orange-text text-darken-3"> Пример №1: Тур в рассрочку 0% - раннее бронирование:</span>
                <br><span class="grey-text">* - тур бронируется заранее на условиях раннего бронирования. Любые направления, любые города вылета, любые туроператоры-партнеры.</span>
                <br>- предоплата при бронировании 10-30% от стоимости тура. Доплата не позднее даты вылета в установленный договором срок. 0% переплата!
                <br>- предоплата 25% +3 платежа по 25% с интервалом в 1 месяц или по согласованному графику до даты начала тура. 0% переплата!
                <br> <br><span class="orange-text text-darken-3"> Пример №2: Тур в рассрочку 0% - стандартный или горящий тур:</span>
<br><span class="grey-text">* - тур бронируется за несколько дней или недель/месяцев до вылета. Любые направления, любые города вылета, любые туроператоры-партнеры при техничекой возможности своевременного оформления.</span><br>

- предоплата при бронировании 20-50% от стоимости тура. Доплата не позднее даты вылета в установленный договором срок. 0% переплата!
<br>- предоплата 25% +3 платежа по 25% с интервалом в 1 месяц не зависимо от даты начала тура. 0% переплата!
<br>-сцец рассрочка по запросу: предоплата 0% +6 платежей с интервалом в 1 месяц не зависимо от даты начала тура. 0% переплата!
<br> <br><span class="orange-text text-darken-3">Пример №3: Тур в длинную рассрочку:</span>
<br><span class="grey-text">* - не зависиимо от даты начала тура. Любые направления, любые города вылета, любые туроператоры-партнеры при техничекой возможности своевременного оформления.</span><br>

-предоплата при бронировании от 0% + 6 платежей с интервалом в 1 месяц. Не более 1% переплаты за месяц рассрочки!
<br>-предоплата при бронировании от 0% + 12 платежей с интервалом в 1 месяц. Не более 1% переплаты за месяц рассрочки!</blockquote>
          </div>
          <div class="col s12">      
            <div class="card horizontal hoverable">
              <div class="card-image">
                <img class="h" src="../../assets/images/credit.png">
              </div>
              <div class="card-stacked">
                <div class="card-content">
                  <h4 class="center orange-text"> Туры в рассрочку в Минске отдыхай удобно и выгодно!</h4>
                  <p class="grey-text text-darken-3 lighten-3 right">Примеры туров в рассрочку по ценам от туроператоров!
                 <br>   * - цены указаны в белорусских рублях за тур на 1 человека при 2-х местном размещении по SPO.</p>
                </div>
                <div class="card-action">                    
                    <app-modal-m-page                    
                    [type]="'Кредит'"
                    [objectId]="''"
                    ></app-modal-m-page>                    
                  </div>
                </div>
              </div>
            </div>
            </div>
            <div class="col s12 m2"></div>
            
        </div>
               
        <div class="row">
            <div class="col s12 m2"></div>
            <div class="col s12 m8">              
              <!-- <app-category-order-page></app-category-order-page>     -->
                <div class="col s4">
                    
                  </div>
        </div>
              <div class="col s12 m2"></div>
            </div>
        