     

  <div class="parallax-container">
    <div class="parallax" #parallax1><img src="..\..\assets\images\img-1.jpg"></div>
  </div>
  <div class="section white">
    <div class="row ">
        <div class="col s2 "></div>
        <div class="col s8 ">
      <h2 class="header center">ТудаСюда - турфирма Минскa!</h2>
      <p class="grey-text text-darken-3 lighten-3">
        Турфирма ТудаСюда рада предложить Вам лучшие туры на отдых по самым популярным туристическим направлениям. 
        Мы предлагаем туры с отдыхом на море в любой стране мира, увлекательные экскурсионные программы, подбор и бронирование отелей, визовую поддержку для туристов, 
        услугу доставку туристов в аэропорт вылета и много другое, что может Вам понадобиться для комфортного и увлекательного путешествия.
      </p>
    </div>
      <div class="col s2 "></div>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax" #parallax2><img src="..\..\assets\images\img-2.jpg"></div>
  </div>

  <div class="row ">    
    <div class="col s12 m2"></div>
    <div class="col s12 m8">
        <div>   
            <h4 class="center"> Ваш выбор - Наши услуги</h4>
            <p>Вы можете выбрать комплексный тур у лучших гидов Минска. Выбрать отель в любой стране ао своим требованиям и желаниям. Также мы оказываем трансферт до аэропортов вылета по туру!</p>
        </div>        
            <div class="col s12 m4">
              <div class="card hoverable">
                <div class="card-image">
                  <img class="h" src="..\..\assets\images\img-4.jpg">
                  <span class="card-title">Туры</span>
                </div>
                <div class="card-content">
                  <p>Организуем Ваш отдых на море, в горах, в лесу - в любом уголке мира. Лучшие туры по лучшим ценам.</p>
                </div>
                <div class="card-action">
                  <a  (click)="toPage('/mainPage/categoryTour')" class="waves-effect waves-grey btn-flat orange-text">Перейти</a>
                </div>
              </div>
            </div>
            <div class="col s12 m4">
                <div class="card hoverable">
                  <div class="card-image">
                    <img class="h" src="..\..\assets\images\img-3.jpg">
                    <span class="card-title">Трансфер</span>
                  </div>
                  <div class="card-content">
                    <p>Для наших туристов, вылетающих на отдых,
                        организован групповой трансфер прямо в нужные аэропорты с выездом из Минска.</p>
                  </div>
                  <div class="card-action" >
                    <a  (click)="toPage('/mainPage/transfer')" class="waves-effect waves-grey btn-flat orange-text">Перейти</a>
                  </div>
                </div>
              </div>
              <div class="col s12 m4">
                <div class="card hoverable">
                  <div class="card-image">
                    <img class="h" src="..\..\assets\images\img-5.jpg">
                    <span class="card-title">Отели</span>
                  </div>
                  <div class="card-content">
                    <p>Отели из большого количесва стран, разногы рейтинка, разных цен. Отели на любой вкус, только выбирай.</p>
                  </div>
                  <div class="card-action">
                    <a (click)="toPage('/mainPage/hotel')" class="waves-effect waves-grey btn-flat orange-text">Перейти</a>
                  </div>
                </div>
              </div>              
          </div>
    
    <div class="col s12 m2"></div>    
  </div>

  
<div class="row">
  <div class="col s12 m2"></div>
    <div class="col s12 m8">
      <div >   
        <h4 class="center"> О Нас для Вас</h4>
        <blockquote class="grey-text text-darken-3 lighten-3 ">
          Наш офис работает как с частными, так и с корпоративными клиентами. 
          Мы с удовольствием расскажем вам обо всех возможностях отдыха с туроператором Coral Travel. Отпуск в Египте и на Кубе, экскурсионный тур по Испании и по Вьетнаму, 
          пляжный релакс на Мальдивах и в Доминикане, незабываемые каникулы в Таиланде и Эмиратах – все это и многое другое вы найдете в нашем турагентстве. 
          Каждый ваш запрос – это профессиональный вызов для нас. Мы любим решать нестандартные задачи (индивидуальные туры или масштабные корпоративы – не вопрос!), 
          работать с требовательными клиентами (мы и сами требовательны к нашим партнерам), находить выход из безвыходных ситуаций 
          (срочно открыть визы или найти авиабилеты к морю в самый пик сезона) и затем слышать от вас «Большое спасибо! Отпуск удался!».
          
          А найти нас очень легко: мы находимся на <strong>проспекте Независимости, 101 (станция метро – «Уручье»).</strong></blockquote>
    </div>
    <div class="col s12">      
      <div class="card horizontal hoverable">
        <div class="card-image">
          <img class="h1" src="../../assets/images/people.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h4 class="center orange-text"> ВАШ ОТДЫХ - НАША РАБОТА!</h4>
            <p class="grey-text text-darken-3 lighten-3 right">Наша туристическая компания предлагает полный перечень туристических услуг: подбор и бронирование пакетных туров на отдых на море, доставку туристов в аэропорт вылета, бронирование отелей 
              по всему миру, визовую поддержку, услуги страхования выезжающих за границу и многое другое, что может понадобиться 
              Вам для Вашего комфортного отдыха.</p>
          </div>
          
          <div class="card-action">
            <a (click)="toPage('/mainPage/search')">Подобрать тур</a>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="col s12 m2"></div>
    
</div>
 

<!-- Для сотрудника прикольно будет Наш коллектив-->
    <!-- <div class="card col s6">  
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="..\..\assets\images\people.png">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>        
        
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div> -->