
 


<div class="row">
    <div class="col s12 m2"></div>
    <div class="col s12 m8">
      <h2 class="header center">Категории туров</h2>
      <p class="grey-text text-darken-3 lighten-3 left-align">
        Выберите интересующую категорию, чтобы открыть список туров, соответсвующих ей. Мы с удовольствием поможем Вам сделать правильный выбор для отдыха на 
        <br>море на Кипре, в Греции, Испании, Болгарии, Черногории, Египте, Турции. Грамотные специалисты окажут помощь в подборе отеля, определят, где предлагаются <br>лучшие цены на отдых. 
      </p>
      <app-category-order-page></app-category-order-page>    
        <div class="col s4">
            
          </div>
</div>
      <div class="col s12 m2"></div>
    </div>

    
    
    
  
